.env
venv
/.venv*
.settings/
.project
.classpath
.DS_Store
*.egg-info/
.eggs/
.vagrant/
~*
*~

node_modules/
/build/
/dist/
/target/

.idea
.vscode

**/.terraform/*
*.tfstate
*.tfstate.*
*tfplan
*.terraform.lock.hcl

.python-version
